# Node.js
/node_modules

# OS-specific files
.DS_Store
Thumbs.db

# Tests
tests

# Test coverage
/coverage

# IDE Config
/.idea
/.vscode

# Temporary files
/.husky

# Package Lock File
package-lock.json

# Source
/src

# Config
.eslintrc.js
.gitignore
.npmignore
.prettierrc
jest.config.js
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.json
tsconfig.test.json
